
h1{
color: rgb(58, 0, 0);
border: solid rgb(210, 30, 135);
background-color: rgb(255, 255, 255);
}
body{
    background-image: url(person-on-a-bridge-near-a-lake-747964.jpg);
    background-size: 100%;
    color: aliceblue;
    text-align: center;    
}

.ss{
     border:solid rgb(66, 65, 65) 15px;
     background-color: rgb(8, 8, 8);
}
.img{
    border-radius: 10%;
    border-block-end-style: double ;
    text-decoration: rgb(129, 129, 219);
}
.s{
    border: solid gray;
    top: 15cm;
}
footer{
    background-color: rgb(114, 114, 114);
    
}